@font-face {
    font-family: 'Silvus';
    src: url(../fonts/silvus__.ttf);
}
@font-face {
    font-family: 'Cardinal';
    src: url(../fonts/Cardinal.ttf);
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    max-height: 100vh;
    overflow: hidden;
}

a{
    text-decoration: none;
}

button{
    border: none;
    text-decoration: none;
    background-color: unset;
}

h2{
    font-family: 'Cardinal';
    font-size: 50px;
    margin-bottom: 30px;
}

.nav-container{
    background-color: rgb(231, 61, 14);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}
img#home-icon{
    height: 50px;
    transition: transform .5s ease;
}
.main-nav {
    display: flex;
    align-items: center;
    height: 100%;
}
.nav-element{
    height: 100%;
}

.nav-element button{
    font-family: 'Cardinal';
    font-size: 25px;
    padding: 0 30px;
    height: 55px;
    vertical-align: middle;
    color: white;
    background-color:rgb(231, 61, 14);
    transition: background-color 1s ;
    display: inline-block;
}
.nav-element button:hover{
    background-color: white;
    color:rgb(231, 61, 14) ;
}

button#parade-button{
    padding: 6px 15px;
    border-radius: 5px;
    background-color: white;
    color: rgb(231, 61, 14);
    font-family: 'Cardinal';
    font-size: 25px;
    transition: transform .5s ease;
}
button#parade-button:hover,
img#home-icon:hover{
    transform: scale(1.2);
}
.dude-info{
    visibility: hidden;
    position: absolute;
    top: 340px;
    left: 0;
    color: black;
    text-align: right;
    width: 400px;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: left 1s ease;
}

.nav-element:hover .dude-info{
    visibility: visible;
    left: 20%;
}
.nav-element img{
    height: 50vh;
    z-index: -2;
    visibility: hidden;
    position: absolute;
    top: 210px;
    right: 0;
    transition: right 1s ease;
}
.nav-element#diana img,
.nav-element#florian img
.nav-element#william img{
    height: 60vh;
}
.nav-element:hover img{
    visibility: visible;
    right: 30%;
}
.nav-element#johannes:hover img{
    right: 27%;
}
.nav-element#diana:hover img,
.nav-element#florian:hover img{
    right: 38%;
}
.nav-element#francisca:hover img{
    right: 20%;
}



main{
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 16px;   
    text-align: center;
}
#hello-world{
    font-family: 'Silvus';
    font-size: 60px;
    padding: 20px 0 10px 0;
    color: rgb(231, 61, 14);
    margin-bottom: 2rem;
}
.subtitle{
    font-size: 35px;
    font-weight: bold;
    font-family: 'Cardinal';
    margin-bottom: 1rem;
}

.hidden{
    display: none;
}

@keyframes oddParade {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-260px * 7));
    }
}
@keyframes oddDancingOdds{
    0% {transform: rotate(10deg);}
    50% {transform: rotate(-10deg);}
    100% {transform: rotate(10deg);}
}
@keyframes oddDancingEvens{
    0% {transform: rotate(-10deg);}
    50% {transform: rotate(10deg);}
    100% {transform: rotate(-10deg);}
}
@keyframes dancingWilliam{
    0% {transform: rotate(10deg);}
    25% {transform: rotate(-10deg);}
    50% {transform: rotate(10deg);}
    75% {transform: rotate(-360deg);}
    100% {transform: rotate(-350deg);}

}

#odd-parade{
    width: calc(260px * 6);
    overflow: hidden;
    display: none;
}


#odd-parade img{
   height: 260px;
}

.slide{
    width: 260px;
}

.slides-wrapper {
    animation: oddParade 20s linear infinite;
    display: flex;
    width: calc(260px * 14);
}
.slide:nth-child(odd):not(.william-slide){
    animation: oddDancingOdds 1.8s infinite;
}
.slide:nth-child(even):not(.william-slide){
    animation: oddDancingEvens 1.8s infinite;
}
.william-slide{
    animation: dancingWilliam 4s infinite;
}

#music{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: none;
    justify-content: center;

}
#audio-background{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background-color: rgb(231, 61, 14);
    transition: left 1s linear;
}



#music audio{
    position: absolute;
    bottom: 0;
    left: 35%;
    z-index: 1;
    width: 30%;
    min-width: 300px;
    opacity: 1;
    transition: left 1s linear;
}
.hide-to-right{
    left: 97vw!important;
}


