/*FONTS*/
@font-face {
    font-family: 'Silvus';
    src: url(../fonts/silvus__.ttf);
}
@font-face {
    font-family: 'Cardinal';
    src: url(../fonts/Cardinal.ttf);
}
@font-face {
    font-family: 'Perrygot';
    src: url(../fonts/PERRYGOT.TTF);
}

/*VARIABLES*/
:root{
    --white: rgb(245, 234, 231);
    --red: rgb(231, 61, 14);
    --fancyCapitals: 'Silvus';
    --headingsFont: 'Perrygot';
    --paragraphFont: 'Roboto';
}


/*BASIC STYLES*/
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    overflow: hidden;
}
a{
    text-decoration: none;
}
button{
    border: none;
    text-decoration: none;
    background-color: unset;
}
p{
    font-family: var(--paragraphFont);
    font-size: 16px;
    font-weight: 250;
}
h2{
    font-family: var(--headingsFont);
    font-size: 30px;
    margin-bottom: 30px;
}
@media screen and (max-width: 900px) {
    h2{
        font-size: 20px;
    }
}


/**********TOP MENU************/
.nav-container{
    background-color: var(--red);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
    padding: 0 30px;
}

/*home and parade buttons*/
#home-button-container{
    margin-left: auto;
}
img#home-icon{
    height: 50px;
    transition: transform .5s ease;
}
#parade-button-container{
    margin-right: auto;
}
button#parade-button{
    padding: 6px 15px;
    border-radius: 5px;
    background-color:  var(--white);
    color: var(--red);
    font-family: var(--headingsFont);
    font-size: 21px;
    transition: transform .5s ease;
}
button#home-button,
button#parade-button{
    cursor: pointer;
}
button#parade-button:hover,
img#home-icon:hover{
    transform: scale(1.2);
}
@media screen and (max-width: 1290px) {
    .nav-container{
        padding: 20px 20px 0 20px;
    }
    #home-button-container,
    #parade-button-container {
        order: -1;
    }
}
@media screen and (max-width: 560px){
    .nav-container{
        padding-top: 8px;
        padding-bottom: 10px;
    }
}

/*characters' nav bar*/
.main-nav {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    height: 100%;
    max-width: 100%;
}
.nav-element{
    height: 100%;
}
.nav-element button{
    display: inline-block;
    height: 55px;
    padding: 0 30px;
    font-family: var(--headingsFont);
    font-size: 21px;
    vertical-align: middle;
    color: var(--white);
    background-color:var(--red);
    transition: background-color 1s;
}
.nav-element button:hover{
    background-color:var(--white);
    color:var(--red) ;
}

@media screen and (max-width: 1290px) {
    .main-nav{
        flex-basis: 100%;
    }
    .nav-element button{
        font-size: 19px;
    }
}
@media screen and (max-width: 560px) {
    .main-nav{
        margin-top: 4px;
    }
    .nav-element button{
        font-size: 15px;
        height: 30px;
    }
    
}
/*characters' image and info - (shows as main content, but in html is inside each nav item)*/
.dude-info{
    visibility: hidden;
    position: absolute;
    bottom: calc(calc(100vh - var(--menuHeight)) / 3) ;
    right: calc(100vw + 100px); /*just 100px out of viewport*/
    width: 400px;
    font-family: var(--paragraphFont);
    color: black;
    text-align: right;
    transition: right .5s ease-out;
}
.nav-element:hover .dude-info{
    visibility: visible;
    right: 55vw;
}
.nav-element img{
    height: 50vh;
    z-index: 1;
    visibility: hidden;
    position: absolute;
    bottom: calc(calc(100vh - var(--menuHeight)) / 4.5) ;
    left: calc(100vw + 100px);
    transition: left .5s ease-out;
}
.nav-element#diana img,
.nav-element#florian img,
.nav-element#william img{
    height: 55vh;
}
.nav-element:hover img{
    visibility: visible;
    left: 50vw;
}

@media screen and (max-width: 900px) {
    .dude-info{
        width: 200px;
    }
    .nav-element img{
        height: 40vh;
    }
    .nav-element#diana img,
    .nav-element#william img{
        height: 50vh;
    }
    .nav-element#johannes img,
    .nav-element#francisca img {
        height: 35vh;
    }
}

/**********HOME PAGE**********/
main{
    height: calc(100dvh - var(--menuHeight));
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 16px;   
    text-align: center;
    overflow: hidden;
}
#home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    padding: 5vmax 2vw 0 2vw;
}
#hello-world p{
    font-family: var(--fancyCapitals);
    font-size:  clamp(40px, 7vw, 60px);
    color: var(--red);
}
.subtitle{
    font-size: clamp(16px, 3vw, 27px);
    font-weight: bold;
    font-family: var(--headingsFont);
}
#home-paragraph{
    font-family: var(--headingsFont);
    font-size: clamp(14px , 2.5vw, 19px);
    color: rgb(161, 144, 111);
}

#home-bottom-image{
    width: 100%;
    margin-bottom: -100px;
    opacity: .5;
    transition: opacity .5s;
}
#home-bottom-image:hover{
    opacity: 1;
}

.hidden{
    display: none;
}

@media screen and (max-width: 900px){
    
}
@media screen and (max-width: 900px) and (orientation: portrait){
    #home-bottom-image {
        width: 170%;
    }
}

/*********ODD PARADE********/
@keyframes oddParade {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-260px * 6));
    }
}


#odd-parade{
    width: calc(260px * 6);
    display: none;
    margin-bottom: 2rem;
}

#odd-parade img{
   height: 260px;
}

.slide{
    width: 260px;
}

.slides-wrapper {
    animation: oddParade 20s linear infinite;
    display: flex;
    width: calc(260px * 12);
    overflow: hidden;
}

@keyframes oddDancingOdds{
    0% {transform: rotate(10deg);}
    50% {transform: rotate(-10deg);}
    100% {transform: rotate(10deg);}
}
@keyframes oddDancingEvens{
    0% {transform: rotate(-10deg);}
    50% {transform: rotate(10deg);}
    100% {transform: rotate(-10deg);}
}
.slide:nth-child(odd):not(.william-slide):not(.leonora-slide){
    animation: oddDancingOdds 1.8s infinite;
}
.slide:nth-child(even):not(.william-slide){
    animation: oddDancingEvens 1.8s infinite;
}
@keyframes dancingWilliam{
    0% {transform: rotate(10deg);}
    25% {transform: rotate(-10deg);}
    50% {transform: rotate(10deg);}
    75% {transform: rotate(-370deg);}
    100% {transform: rotate(-350deg);}
}

.william-slide{
    animation: dancingWilliam 3.6s infinite;
}

/*******MUSIC BAR*********/
#music{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: none;
    justify-content: center;

}

#music audio{
    position: absolute;
    bottom: 0;
    left: 40vw;
    z-index: 1;
    width: 20vw;
    transition: left 1s linear;
}
.hide-to-right{
    left: 96.6vw!important;
}
@media screen and (max-width: 560px) {
    #music audio {
        width: 100vw;
        left: 0;
    }
    .hide-to-right{
        left: 88vw!important;
    }
}


